@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  transition:
    background-color 300ms ease,
    color 300ms ease;
}
